# vs code
.vscode/

# ignore source.python
src
logs
sound
.pylintrc
checker.bat
resource/*
addons/*
cfg/*
*__pycache__

# unignore our plugin
!addons/source-python/
addons/source-python/*
!addons/source-python/plugins/
addons/source-python/plugins/*
!addons/source-python/plugins/jtimer

# unignore plugin data
!addons/source-python/data/
addons/source-python/data/*
!addons/source-python/data/plugins/
addons/source-python/data/plugins/*
!addons/source-python/data/plugins/jtimer

# unignore chat strings
!resource/source-python/
resource/source-python/*
!resource/source-python/translations/
resource/source-python/translations/*
!resource/source-python/translations/jtimer

# unignore cfg
!cfg/source-python/
cfg/source-python/*
!cfg/source-python/jtimer/